<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WER Calculations</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <div class="container">
      <h1>Analisis Hasil Transkripsi</h1>
      <form id="predict-form">
        <label for="asr_output">ASR Output (hasil transkripsi):</label>
        <textarea id="asr_output" name="asr_output" rows="4" cols="50" required></textarea>
        <br />

        <label for="reference">Reference (teks acuan/ground truth):</label>
        <textarea id="reference" name="reference" rows="4" cols="50" required></textarea>
        <br />

        <button type="submit">HITUNG WER</button>
      </form>

      <div id="result"></div>
    </div>

    <script>
      $(document).ready(function () {
        $("#predict-form").on("submit", function (event) {
          event.preventDefault();

          var asrOutput = $("#asr_output").val();
          var reference = $("#reference").val();
          var resultDiv = $("#result");

          $.ajax({
            url: "/predict",
            method: "POST",
            contentType: "application/json",
            data: JSON.stringify({
              asr_output: asrOutput,
              reference: reference,
            }),
            success: function (data) {
              if (data.result) {
                resultDiv.html("<b>" + data.result + "</b>");
              } else if (data.error) {
                resultDiv.html("Error: " + data.error);
              }
            },
            error: function (xhr, status, error) {
              resultDiv.html("Error: " + error);
            },
          });
        });
      });
    </script>
  </body>
</html>
